@page  "/Product/Add"

<Auth />
@inject ICategoryService categoryService
@inject IProductService productService
@inject NavigationManager NavigationManager
@inject IToastService toastService

@inject HttpClient Http
@inject ILocalStorageService LocalStorage


<div class="row">
    <div class="col-md-4">
        <div class="card card-info card-outline">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Ürün Giriş Formu</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div>
                        <EditForm Model="@product" OnValidSubmit="Insert">
                            <DataAnnotationsValidator />
                            <ValidationSummary />
                            <div class="card-body form-horizontal bg-dark">
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">Kategori</label>
                                    <div class="col-sm-10">
                                        @if (categories != null)
                                        {
                                            <InputSelectNumber @bind-Value="@product.CategoryId" id="ProductId" Class="form-control bg-dark ">
                                                <option tabindex="0" value="0" selected>--- Lütfen Kategori Seçiniz--- </option>
                                                @foreach (var data in categories)
                                                    {
                                                    <option value="@data.CategoryId">@data.CategoryName</option>

                                                    }
                                            </InputSelectNumber>
                                        }

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">Ürün Adı</label>
                                    <div class="col-sm-10">
                                        <InputText Class="form-control  bg-dark" Id="ProductName" @bind-Value="@product.ProductName" required="required" />
                                        <div class="alert-danger">
                                            <ValidationMessage For="@(()=>product.ProductName)" />
                                        </div>

                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">Alış Tarihi</label>
                                    <div class="col-sm-10">
                                        <InputDate Class="form-control  bg-dark" Id="RegisterDate" @bind-Value="@product.RegisterDate" required="required" />
                                        <ValidationMessage For="@(()=>product.RegisterDate)" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-2 col-form-label">Alış Fiyatı</label>
                                    <div class="col-sm-10">
                                        <InputNumber Class="form-control  bg-dark" Id="PurchasePrice" @bind-Value="@product.PurchasePrice" required="required" />
                                        <ValidationMessage For="@(()=>product.PurchasePrice)" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputPassword3" class="col-sm-2 col-form-label">Satış fiyatı</label>
                                    <div class="col-sm-10">
                                        <InputNumber Class="form-control  bg-dark" Id="SalePrice" @bind-Value="@product.SalePrice" required="required" />
                                        <ValidationMessage For="@(()=>product.SalePrice)" />
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-dark float-right"> <i class="fas fa-user-check"></i> Kaydet</button>
                            </div>
                        </EditForm>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><i class="fa fa-list"></i> Kategoriler</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-sm bg-dark" @onclick="newCategory">
                            <i class="fas fa-plus"> Yeni Ekle</i>
                        </button>
                    </div>
                </div>
                <div class="card-body p-0">
                    @if (categories == null)
                    {
                        <p class="bg-dark"><em>Yükleniyor...</em></p>
                    }
                    else
                    {
                        <ul class="nav nav-pills flex-column">
                            @foreach (var i in categories)
                            {
                                <li class="nav-link">
                                    <a @onclick="@(() => ProductList(i.CategoryId))" class="nav-link">
                                        <i class="fa fa-search bg-dark "></i>
                                        @i.CategoryName
                                    </a>
                                </li>
                            }
                        </ul>
                    }

                </div>
                <!-- /.card-body -->
            </div>
        </div>

        <!-- /.card -->
    </div>
    <!-- /.col -->
    <div class="col-md-8">
        <div class="card card-info card-outline">
            <div class="card-header">
                <h3 class="card-title"><i class="fa fa-list"></i> Ürün Listesi</h3>

                <div class="card-tools">
                    <div class="input-group input-group-sm">
                        <input type="text" class="form-control" placeholder="Ürün Ara">
                        <div class="input-group-append">
                            <div class="btn btn-primary">
                                <i class="fas fa-search"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body p-0">

                <div class="table-responsive mailbox-messages">
                    @if (products == null)
                    {
                        <p class="content">Ürünleri Listelemek İçin <i class="fa fa-search"></i> Kategori Seçiniz...</p>
                    }
                    else
                    {
                        <table class="table table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Ürün Adı</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var i in products)
                                {
                                    <tr>

                                        <td> <button class="btn btn-dark btn-sm" @onclick="@(() => ProductEdit(i.Id))"><i class="fa fa-edit"></i> </button> @i.ProductName</td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>




@code {

    CategoryDto[] categories;
    Product[] products;
    Product product = new Product();
    protected override async Task OnInitializedAsync()
    {
        var CompanyId = await LocalStorage.GetItemAsync<int>("Company");
        categories = await categoryService.CategoryList(CompanyId);
        product.RegisterDate = DateTime.Now;
    }

    private async void Insert()
    {
        try
        {
            await productService.Add(product);
        }
        catch (Exception e)
        {
            toastService.ShowSuccess(e.Message.ToString(), product.ProductName);
            product.ProductName = null;
            product.PurchasePrice = 0;
            product.SalePrice = 0;
            StateHasChanged();

        }
    }
    void ProductEdit(int Id)
    {
        NavigationManager.NavigateTo("/Product/Detail/" + Id);
    }

    void newCategory()
    {
        NavigationManager.NavigateTo("/Category/Add/");
    }


    private async Task ProductList(int CategoryId)
    {
        products = await productService.Products(CategoryId);
        StateHasChanged();

    }
}
